<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Альфа Горизонт - Це можливість для кожної дитини знайти свій шлях та розкрити свій потенціал.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/favicons/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/favicons/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/favicons/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/favicons/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for( 'static', filename='img/favicons/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for( 'static', filename='img/favicons/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for( 'static', filename='img/favicons/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for( 'static', filename='img/favicons/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for( 'static', filename='img/favicons/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='img/favicons/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicons/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{  url_for( 'static', filename='img/favicons/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
</head>

<body>
    <section class="header">
        <div class="menu">
            <div class="container">
                <a href="/">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Альфа Горизонт">
                </a>
                <nav>
                    <div>
                        <a href="#purpose">Наше завдання</a>
                    </div>
                    <div>
                        <a href="#unique">Унікальність проекту</a>
                    </div>
                    <div> <a href="#statistics">Статистика</a>
                    </div>
                    <div>
                        <a href="#help">Як можна допомогти?</a>
                    </div>
                    <div>
                        <a href="#connect">Зв'язок</a>
                    </div>
                    <div>
                        <a href="#team">Наша команд</a>
                    </div>
                </nav>
                <div>
                    <a href="" id="menu"><i class="menu-icon fas fa-bars fa-2x"></i></a>
                </div>
            </div>
        </div>
        <div class="alpha">
            <div class="container">
                <h1>АЛЬФА ГОРИЗОНТ</h1>
                <h2>Це можливість для кожної дитини знайти свій шлях та
                    розкрити свій потенціал.</h2>
                <a href="#connect" class="connect">Подати заяву</a>
            </div>
        </div>
        </div>
    </section>
    <section class="purpose" id="purpose">
        <div class="container">
            <h2>Наше головне завдання</h2>
            <div class="purposes">
                <div>
                    <i class="fas fa-globe-asia fa-3x"></i>
                    <p>дати поштовх до саморозвитку і пошуку нових горизонтів
                    </p>
                </div>
                <div>
                    <i class="fas fa-users fa-3x"></i>
                    <p>мотивувати підлітків і молодь нашої країни на активну
                        самореалізацію
                    </p>
                </div>
                <div>
                    <i class="fab fa-connectdevelop fa-3x"></i>
                    <p>всебічний гармонійний розвиток здібностей
                    </p>
                </div>
                <div><i class="fas fa-chart-line fa-3x"></i>
                    <p>допомогти знайти своє покликання і розкрити особистий
                        потенціал
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="feedback" class="feedback">
            <iframe class="video-frame" width="560" height="315" src="https://www.youtube.com/embed/YbsAHsKY8wA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
    <section class="unique" id="unique">
        <div class="container">
            <h2>Унікальність проекту</h2>
            <p>Спонукакти прагнення до саморозвитку можуть зустрічі з цікавими
                спікерами,
                фахівцями, або успішними людьми у різних галузях, де діти з
                перших
                вуст дізнаються про їхню історію успіху. Це завжди надихає на
                те
                щоб вирватися із звичного кола і поставити собі більш високу
                планку,
                побачити «нові горизонти», тому що будь які прогресивні зміни
                починаються
                перш за все в голові, і згодом допитливий та пристрасний розум
                завжди
                знайде ту модель, яка підходить саме йому, та приведе до
                успіху.
            </p>
            <p>
                Курс програми складатиметься з наступного:
                <br> - мотивуючі семінари, спрямовані на власне особистісне
                зростання,
                які допомагають людині усвідомити свою унікальність, цінність
                та
                зайняти гідне місце у суспільстві;
                <br> - майстер-класи з професійної орієнтації, мета яких –
                допомогти
                молодим людям розкрити свої здібності та у подальшому
                визначитися
                з обранням напряму навчання і професійної діяльності;
                <br> - спеціальні окремі зустрічі для дівчат і хлопців, метою
                яких є
                гендерне виховання, спрямоване на освоєння жіночих і чоловічих
                ролей,
                які прийняті у суспільстві; освоєння культури, необхідної для
                реалізації
                гендеру.

            </p>
        </div>
    </section>
    <section class="statistics" id="statistics">
        <div class="container">
            <h2>Статистика</h2>
            <div>
                <div class="data">
                    <div>
                        <p class="numscroller count" data-min='1' data-max='1460'
                            data-delay='20' data-increment='10'>1460</p>
                        <p>Кількість учасників за 2018 рік
                        </p>
                    </div>
                    <div>
                        <p class="numscroller count" data-min='1' data-max='78'
                            data-delay='20' data-increment='8'>78</p>
                        <p>Кількість проведених годин у школах
                        </p>
                    </div>
                    <div>
                        <p class="numscroller count" data-min='1' data-max='3810'
                            data-delay='20' data-increment='10'>3810</p>
                        <p>Кількість учасників, які приймали участь у всіх
                            проектах
                        </p>
                    </div>
                    <div>
                        <p class="numscroller count" data-min='1' data-max='3846'
                            data-delay='20' data-increment='30'>3846</p>
                        <p>Kількість учнів (мил)
                        </p>
                    </div>

                </div>
                <div class="stat">
                    <h3>цільова аудитория</h3>
                    <ul>
                        <li>Старшоклассники загальноосвітніх середніх школ.</li>
                        <li>Студенти проф-тех навчальних закладів</li>
                        <li>Інтернати та подібні заклади</li>
                        <li>Молодь з сільских місцевостей</li>
                        <li>Молодь з невеличких містечок</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="help" id="help">
        <div class="container">
            <h2>Як можна допомогти?</h2>
            <h3>Ваша допомога - це їх шанс бути успішними!</h3>
            <ul>
                <li><i class="fas fa-hands fa-3x"></i>
                    <p> Стати волонтером</p>
                </li>
                <li><i class="fas fa-money-bill-alt fa-3x"></i>
                    <p>Надати фінансову допомогу для розвитку проекту “Альфа
                        горизонт”</p>
                </li>
                <li><i class="fas fa-gift fa-3x"></i>
                    <p>Підтримати окрему сільську школу шляхом обладнень та
                        особливих подарунків</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="team-form" id="connect">
        <div class="container">
            <h2>Надіслати анкету</h2>
            <p>Якщо Ви бажаєте приєднатися до програми, але ще не встигли подати заявку, Вам потрібно заповнити анкету школи-учасниці.</p>
            {% if not form %}
                <h4 class="message-success">Мы получили ваше сообщение и свяжемся с вами в ближайшее время.</h4>
            {% else %}
                {% if form.errors %}
                    {% for _, errors in form.errors.items() %}
                        {% for error in errors %}
                            <p class="message-error">{{error}}</p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <form method="POST" action="/">
                    {{form.csrf_token }}
                    {% for field in form %}
                        <div class="row">
                            {% if field.name == 'region' or field.name == 'children_quantity' %}
                                {{field.label.text}}: 
                            {% endif %}
                            {{ field(placeholder=field.label.text) }}
                        </div>
                    {% endfor %}
                <input class="button g-recaptcha" type="submit" value="Відправити">
                </form>
            {% endif %}
        </div>
    </section>

   <section class="other" id="partners">
        <div class="container">
            <div class="team" id="team">
                <h3>Наша команда</h3>
                <img src="{{ url_for( 'static', filename='img/team.jpg') }}" alt="">
            </div>
            <div class="partners">
                    <h3>Наши партнеры</h3>
                    <img src="{{ url_for( 'static', filename='img/partner_1.png') }}" alt="">
                    <img src="{{ url_for( 'static', filename='img/partner_2.png') }}" alt="">
            </div>

        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div>
                <h3>Контакти</h2>
                    <p>email:te@hopeh2h.org</p>
                    <p>tel:+380976545675</p>
            </div>
            <div>
                <h3>Социальные сети</h2>
                    <a href="https://www.instagram.com/alpha_ukraine/">
                        <i class="fab fa-instagram fa-2x"></i></a>
                    <a href="https://www.facebook.com/hopeh2h.org/">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.2.1/dist/smooth-scroll.min.js"></script>
    <script src="{{ url_for( 'static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for( 'static', filename='js/numscroller-1.0.js') }}"></script>
    <script src="{{ url_for( 'static', filename='js/main.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>

</html>